<div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
        <div class="alert alert-danger" *ngIf="alertmsg">
            <strong>Error!</strong> {{errmsg}}
        </div>
        <form id="signupForm" #signupForm="ngForm" name="signupForm" (ngSubmit)="signupForm.valid && userSignup(signupForm)">
            <div class="form-group">
                <label for="firstname">First name:</label>
                <input type="text" class="form-control" [(ngModel)]="signup.firstname" id="firstname" name="firstname"
                    #firstname="ngModel" placeholder="Enter first name" required>
                <div class="text-danger" *ngIf="(firstname.errors?.['required'] && firstname.touched)">Please fill out this
                    field.</div>
            </div>
            <div class="form-group">
                <label for="lastname">Last name:</label>
                <input type="text" class="form-control" [(ngModel)]="signup.lastname" id="lastname" name="lastname"
                    #lastname="ngModel" placeholder="enter last name" required>
                <div class="text-danger" *ngIf="(lastname.errors?.['required'] && lastname.touched)">Please fill out this
                    field.</div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" [(ngModel)]="signup.email" id="email" name="email"
                    #email="ngModel" pattern="(^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$)" placeholder="Enter email" required>
                <div class="text-danger" *ngIf="(email.errors?.['required'] && email.touched)">Please fill out this
                    field.</div>
                <div class="text-danger" *ngIf="email.errors?.['pattern'] && email.touched">Please enter valid email.
                </div>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="signup.password"
                    #password="ngModel" placeholder="Enter password" required>
                <div class="text-danger" *ngIf="(password.errors?.['required'] && password.touched)">Please fill out
                    this field.</div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Submit</button>
        </form>
    </div>
</div>
<ng-http-loader></ng-http-loader>